html
	head
		include partials/head
	body
		- for (i=0;i<playerArray.length;i++) {
			- var playerObject = JSON.stringify(playerArray);
			script.
			div(id=playerArray[i].name, class='player')
				.playerRank
					img.rank(src='public/images/#{playerArray[i].rankImage}')
				.playerName
					| #{playerArray[i].name}
				.playerDemo
					include partials/playerDemoTable.jade
				- if(playerArray[i].twitchOnline === true){
				.cardData(id='#{playerArray[i].name}_cardData')
					object#live_embed_player_flash(type='application/x-shockwave-flash', height='378', width='620', data='http://www.twitch.tv/widgets/live_embed_player.swf?channel=#{playerArray[i].twitchID}', bgcolor='#000000')
						param(name='allowFullScreen', value='true')
						param(name='allowScriptAccess', value='always')
						param(name='allowNetworking', value='all')
						param(name='movie', value='http://www.twitch.tv/widgets/live_embed_player.swf')
						param(name='flashvars', value='hostname=www.twitch.tv&channel=#{playerArray[i].twitchID}&auto_play=true&start_volume=25')
				.buttonDiv
					button.updateBtn(class = 'btnToggle' name='stats' onClick="showStats('#{JSON.stringify(playerArray[i])}')")
					button.updateBtn(name='update' onClick='updateStats("#{playerArray[i].name}")')
						| Update Stats
				- } else {
				script.
					var chartData = !{JSON.stringify(playerArray[i].dailyStats)};
					createChart(chartData, '#{playerArray[i].name}_cardData');
				.cardData(id='#{playerArray[i].name}_cardData')
				.buttonDiv
					button.updateBtn(class='btnToggle' name='twitch'  onClick="showTwitch('#{JSON.stringify(playerArray[i])}')")
						| Twitch
					button.updateBtn(name='update' onClick='updateStats("#{playerArray[i].name}")')
						| Update Stats
				- }
		- }