html
	head
		link(rel='stylesheet', href='public/stylesheets/mainStyle.css')
		script(type='text/javascript' src='public/js/updateStats.js')
	body
		button(name="update")
			| Update all Stats
		br
		br
		- for (i=0;i<playerArray.length;i++) {
			div(id=playerArray[i].name, class='player')
				.playerRank
					img.rank(src='public/images/#{playerArray[i].rankImage}')
				.playerName
					| #{playerArray[i].name}
				.playerDemo
					table(border=1)
						tr
							td
								| Kills
							td
								| Deaths
							td
								| K/Dr
							td
								| H-Shots
							td
								| Score
							td
								| Skill
							td
								| Hrs Played
						tr
							td
								|#{playerArray[i].kills}
							td(style="color:red")
								|#{playerArray[i].deaths}
							td(style="color:green")
								|#{playerArray[i].kdr}
							td
								|#{playerArray[i].headShots}
							td
								|#{playerArray[i].score}
							td
								|#{playerArray[i].skill}
							td
								|#{playerArray[i].timePlayed}
				.flash
					object#live_embed_player_flash(type='application/x-shockwave-flash', height='378', width='620', data='http://www.twitch.tv/widgets/live_embed_player.swf?channel=#{playerArray[i].twitchID}', bgcolor='#000000')
						param(name='allowFullScreen', value='true')
						param(name='allowScriptAccess', value='always')
						param(name='allowNetworking', value='all')
						param(name='movie', value='http://www.twitch.tv/widgets/live_embed_player.swf')
						param(name='flashvars', value='hostname=www.twitch.tv&channel=#{playerArray[i].twitchID}&auto_play=true&start_volume=25')
		- }